@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 9999;
}

.cookie-consent{
  position: fixed;
  bottom: 40px;
  left: 40px;
  max-width: 400px;
  background: #ffffffdd;
  padding: 25px 25px 30px 25px;
  border-radius: 30px;
  border: 2px double #ffcc00;
  box-shadow: 20px 20px 10px -10px rgba(0,0,0,0.15);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.cookie-consent:hover{
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.15);
    transition: all 0.3s;
}

.cookie-consent.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #ffcc00;
}
.cookie-consent img{
  max-width: 50px;
}
.consent header{
  font-size: 25px;
  font-weight: 600;
}
.consent{
  margin-top: 10px;
}
.consent p{
  color: #858585;
  margin: 5px 0 20px 0;
}
.consent .cookie-consent-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookie-consent-buttons button{
  padding: 10px 20px;
  border: 2px solid #ffcc00;
  outline: none;
  color: #ffcc00;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  background: #393184;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .cookie-consent-buttons button:hover{
  transform: scale(0.97);
} */
.cookie-consent-buttons .item{
  margin: 0 10px;
}
.cookie-consent-buttons a{
  color: #ffcc00;
}


.item span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .item span:after {
    content: "\000BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .item:hover span {
    padding-right: 25px;
  }
  
  .item:hover span:after {
    opacity: 1;
    right: 0;
  }