ErrorDocument 404 /404.html

IndexIgnore *

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

<IfModule mod_headers.c>
  <Files "/package/_products.json">
    Header set Content-Type "application/json"
  </Files>
  <Files "/package/_goldJewellery.json">
    Header set Content-Type "application/json"
  </Files>
  <Files "/package/_silverJewellery.json">
    Header set Content-Type "application/json"
  </Files>
  <Files "/package/_diamondJewellery.json">
    Header set Content-Type "application/json"
  </Files>
  <Files "/package/_platinumJewellery.json">
    Header set Content-Type "application/json"
  </Files>
</IfModule>
