# ErrorDocument 500 "Houston, we have a problem."
ErrorDocument 404 https://navdeepjewellers.com/pages/contact-us/404error
# ErrorDocument 404 /pages/404error.html

IndexIgnore *

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]